[user]
	email = natanael.rabello@outlook.com
	name = Natanael Rabello
[core]
	excludesfile = /home/common/.config/git/gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[pull]
	ff = only
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
