Xft.antialias: 1
Xft.hinting: 1
Xft.autohint: 0
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.dpi: 192
URxvt.font: xft:SF Mono:pixelsize=13

Xcursor.theme: xcursor-breeze-snow
